services:
  <%= name %>:
    container_name: <%= name %>
    image: <%= name %>:local
    ports:
      - '<%= port %>:<%= port %>'
    env_file:
      - ./.env
    extra_hosts:
      - 'host.docker.internal=host-gateway'
    dns:
      - 1.1.1.1
    healthcheck:
      test: ['CMD', 'nc', '-vz', '-w1', '127.0.0.1', '<%= port %>']
      start_period: 2s
      interval: 2s
      timeout: 30s
      retries: 15

